<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Contact</h3>
    <p></p>DM me on Twitter or LinkedIn to get in touch.</p>

    <a href="https://github.com/masud90"><img src="https://img.shields.io/badge/GitHub-100000?style=flat&logo=github&logoColor=white"/></a>
    <a href="https://linkedin.com/in/Masud90" ><img src="https://img.shields.io/badge/LinkedIn-0077B5?style=flat&logo=linkedin&logoColor=white"/></a>
    <a href="https://twitter.com/masudtweets"><img src="https://img.shields.io/twitter/follow/masudtweets?style=social&logo=twitter"/></a>
  </div>
</div>
