<footer class="pt-5 my-5 text-muted border-top">
  <div class="row">
    <div class="col-md-6 text-end social-media-icons">
      {% for item in site.data.settings.social %}
        {% if "fab fa-" | append: item.icon | in: item.icon %}
          <a href="{{ item.link }}" class="ms-3 fs-5"><i class="{{ item.icon }}"></i></a>
        {% elsif "ai ai-" | append: item.icon | in: item.icon %}
          <a href="{{ item.link }}" class="ms-3 fs-5"><i class="ai ai-{{ item.icon }} ai-3x"></i></a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</footer>
