<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Recent works</h3>
    {% if page.title == "Home" %}
      {% for item in site.data.publications.featured %}
        <p><strong>{{ item.category }}</strong> - {{ item.citation }} <a href="{{ item.url }}" target="_blank" rel="noopener noreferrer"> [&#10145; Go to Full Text]</a></p>
      {% endfor %}
	  <p><a href="/publications"<strong>See all &#10145;</strong></a></p>
    {% else %}
      {% for item in site.data.publications.index %}
        <div style="display: flex; align-items: top; margin-bottom: 20px;">
          <a href="{{ item.url }}">
            <img src="{{ item.image }}" alt="Image for {{ item.name }}" style="margin-right: 10px; width: 100px; height: auto; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
          </a>
          <a href="{{ item.url }}" target="_blank" rel="noopener noreferrer"><p><strong>{{ item.name }}</strong></a>[ {{ item.category }}]<br>
          {{ item.summary }} &#10145; <a href="{{ item.url }}" target="_blank" rel="noopener noreferrer"> Go to Full Text </a><br>
          <br>
          Cite as: {{ item.citation }}
          </p>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>