<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  {% include head.html %}
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
  <div class="container">
    {% include header.html %}
    <h1>{{ page.title }}</h1>
    <table>
      <thead>
        <tr>
          <th>Project Title</th>
          <th>Technology</th>
          <th>Project Type</th>
        </tr>
      </thead>
      <tbody>
        {% for project in site.data.projects %}
          {% include project_row.html project=project %}
        {% endfor %}
      </tbody>
    </table>
    {% include footer.html %}
  </div>
</body>
</html>
